* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #171a20;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
  overflow: hidden;
}
